# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Checkpoints and Data
checkpoints/
data/
*.pt
*.pth
*.zip

# IDE
.vscode/
.idea/
